<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
        <TR>
           <TH COLSPAN="12"><BR><H3>Kontrata</H3>
           </TH>
        </TR>
        <TR>
           <TH>Nr.rendor i prokurorimit</TH>
           <TH>Lloji i prokurorimit</TH>
           <TH>Aktiviteti i prokurorimit</TH>
           <TH>Data e inicimit</TH>
           <TH>Data e publikimit</TH>
           <TH>Data e nenshkrimit te kontrates</TH>
           <TH>Afatet per implementimin</TH>
           <TH>Afatet per implementimin</TH>
           <TH>Data e permbylljes se kontrates</TH>
           <TH>Cmimi i kontrates</TH>
           <TH>Cmimi total</TH>
           <TH>Emri i te cilit eshte dhene kontrrata</TH>
        </TR>
        <TR ALIGN="CENTER">
           <TD><%=doc.inputkey%></TD>
           <TD><%=doc.inputvalue%></TD>
           <TD><%=doc.aktiv%></TD>
           <TD><%=doc.init%></TD>
           <TD><%=doc.public%></TD>
           <TD><%=doc.contr%></TD>
           <TD><%=doc.impl%></TD>
           <TD><%=doc.implo%></TD>
           <TD><%=doc.perm%></TD>
           <TD><%=doc.cmimik%>€</TD>
           <TD><%=doc.cmimit%>€</TD>
           <TD><%=doc.emri%></TD>
        </TR>
     </TABLE>
<br>
<br>
     <a href="/">Back</a>
